body {
    background-color: rgb(235, 235, 235);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.card1 {
    background-image: url("./images/kyle-sanguin.jpg");
}

.card2 {
    background-image: url("./images/james-lee.jpg");
}

.card3 {
    background-image: url("./images/james-lee2.jpg");
}

.card4 {
    background-image: url("./images/sean-oulashin.jpg");
}

.card5 {
    background-image: url("./images/simon-berger.jpg");
}

div[class^="card"]{
    height: 90vh;
    border-radius: 30px;
    background-size:cover;
    margin-right: 1vw;
    color: white;
    overflow: hidden;
    padding: 25px;
    width: 7vw;
}

.activeCard {
}

div[class^="card"] p{
    color: white;
    font-size: 25px;
    font-weight: 600;
    position: absolute;
    bottom: 70px;
    margin-left: auto;
}

div[class^="card"] a:hover{
    color: pink;
}

#body {
    padding: auto;
    position: relative;
    display: flex;
    padding: 5vh 2vw;
}